*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.bloodbank{
    height: 100vh;
    width: 100%;
    padding: 2rem;
    flex-wrap: wrap; 
    background-image: linear-gradient(45deg,#88FFF7,#7C83FD);
}
.bloodtype_container{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.blood_f{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.blood_s{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.bloodtype{
    height: 250px;
    width: 250px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    font-family: 'Lato', sans-serif;
    box-shadow: 5px 5px #888888;
    border:1px solid #888888;
    flex-wrap: wrap;
    color: red;
    font-size: 2rem;
    font-family: 'Lato';
}
.special{
    color: red;
}
.bloodtype:hover{
    transform: translateY(-10px);
    transition: all 0.5s;
}
.bloodtype:active{
    transform: translateY(7px);
    transition: all 0.5s;
}